body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-height: 100vh;
}

.App {
    font-family: 'poppin', sans-serif;
    margin: 0 auto;
    background-color: rgb(186, 198, 249);
}

.todoList {
    background-color: rgb(186, 198, 249);
    max-width: 500px;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

form input {
    border: none;
    width: 70%;
    height: 30px;
    padding: 4px;
}

button {
    border: none;
    height: 38px;
    width: 20%;
    background-color: rgb(7, 1, 49);
    color: white;
}

p {
    font-size: 13px;
}

ul {
    margin: 10% auto;
    width: 80%;
    background-color:  rgb(194, 204, 250);
}

li {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}